<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">Recipe Book</a>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/recipes">Recipes <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/shopping-list">Shopping List</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <ng-template [ngIf]="!isAuthenticated()">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="[ '/signin' ]">Sign In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="[ '/signup' ]">Register</a>
        </li>
      </ng-template>
      <li class="nav-item">
        <a class="nav-link" style="cursor: pointer;" (click)="onLogout()" *ngIf="isAuthenticated()">Logout</a>
      </li>
      <li class="nav-item dropdown" *ngIf="isAuthenticated()">
        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >Manage</a>
        <div class="dropdown-menu" aria-labelledby="dropdownId">
          <a class="dropdown-item" style="cursor: pointer;" (click)="onSaveData()">Save Data</a>
          <a class="dropdown-item" style="cursor: pointer;" (click)="onFetchData()">Fetch Data</a>
        </div>
      </li>
    </ul>
  </div>
</nav>